<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1015144719724-6sk22ra8lev9nj825i06u5aev8npso2a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1015144719724-6sk22ra8lev9nj825i06u5aev8npso2a</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1015144719724-6iftd4ujaah3oo003upldsn9nbo4fk0i.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDkBm9_n43kJ501QegbTJRvbKPFHHji2GM</string>
	<key>GCM_SENDER_ID</key>
	<string>1015144719724</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatapp</string>
	<key>PROJECT_ID</key>
	<string>chatapp-8cf21</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-8cf21.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1015144719724:ios:2fb36768d282f7fb0dbf49</string>
</dict>
</plist>